header{
    height: 100px;
    background-color: #6f8ebc;
    display: flex;
    padding-right: 20px;
    text-align: center;
    color:white
}
main{
    background-color: rgb(107, 189, 199);
    height: 1000px;
    
    
}
.aside{
    background-color: rgb(123, 154, 175);
    height: 100%;
    color: #000;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}
#Home{
    text-align: center;
    line-height: 500px;
}
footer{
    height: 100px;
    background-color: #432c06;
   text-align: center;
    font-size: 35px;
    color: #000;
}
.nav-link{
    color:#3a3939;
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}
.main-head{
    text-align: center;
}